/*font-family: 'Roboto Condensed', sans-serif;
font-family: 'Oswald', sans-serif;
font-family: 'Roboto Mono', monospace; */
:root {
    font-size: 22px;
    background-color: #fff;
    --gradient: linear-gradient(145deg, royalblue 2%, #29a6dc 6.5%, white 7%, #29a6dc 8%, #29a6dc 61%, white 63.5%, #29a6dc 64%, #29a6dc 90%, royalblue);
    --bgColor: #29a6dc;
    --borderStyle: 1px solid black;
    --btnBgcOn: rgba(255, 255, 255, .75);
    --btnBgcOff: rgba(0, 0, 0, .75);
    --ffMain: 'Oswald', sans-serif;
    --ffSec: 'News Cycle', sans-serif;
}

body {
    max-width: 1920px;
    min-width: 360px;
    margin: 0 auto;
    background-image: url(../img/niebo.jpg);
    background-repeat: no-repeat;
    background-position: center;
    background-attachment: fixed;
    box-shadow: 0 0 2px 0 black;
}

@media (max-width: 1650px) {
    :root {
        font-size: 18px;
    }
}

@media (max-width: 1380px) {
    :root {
        font-size: 17px;
    }
}

@media (max-width: 1150px) {
    :root {
        font-size: 15px;
    }
}

@media (max-width: 639px) {
    :root {
        font-size: 14px;
    }
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    cursor: default;
}

/*index.html*/
/*Header*/
header {
    position: relative;
    width: 100%;
    margin: 0 auto;
    height: 60vh;
    min-height: 300px;
    background-image: url(../img/header.jpg);
    background-repeat: no-repeat;
    background-position: center;
    font-family: var(--ffMain);
    font-size: 1.3rem;
    letter-spacing: 1px;
    border-top: var(--borderStyle);
    border-bottom: var(--borderStyle);
    overflow: hidden;
}

header video {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    min-width: 100%;
    min-height: 100%;
}

header nav.menu {
    position: fixed;
    display: flex;
    flex-direction: column;
    justify-content: center;
    left: 0;
    top: 40px;
    width: 180px;
    height: 240px;
    background-color: var(--btnBgcOff);
    z-index: 2;
    border-radius: 0 10% 10% 0;
    transition: .3s;
}

header nav.menu.off {
    left: -180px;
}

header div.header {
    position: absolute;
    width: 95%;
    bottom: 10%;
    left: 5%;
}

header div.header h1 {

    color: snow;
    text-shadow: 2px -2px 2px black;
}

header button.burger,
section.aboutMe a,
section.game a,
div.blog section.blogHeader a {
    position: fixed;
    left: 20px;
    top: 50px;
    width: 50px;
    height: 50px;
    font-size: 1.4rem;
    border: var(--borderStyle);
    color: white;
    border-radius: 50%;
    background-color: var(--btnBgcOff);
    transition: .1s, left .4s;
    z-index: 2;
    outline: none;
    box-shadow: 0 0 4px white;
}

header button.burger.off {
    background-color: var(--btnBgcOn);
    color: black;
    left: 165px;
    cursor: pointer;
}

header button.burger:hover,
section.aboutMe a:hover,
section.game a,
div.blog section.blogHeader a:hover {
    background-color: var(--btnBgcOn);
    color: black;
}

header button.burger i.off {
    display: none;
}

header nav ul {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    width: 90%;
    list-style: none;
}

header nav ul li {
    position: relative;
    transition: .3s;
    overflow: hidden;
}

header nav ul li a {
    display: block;
    padding: 5px;
    font-family: var(--ffSec);
    text-decoration: none;
    color: white;
    text-align: center;
    font-size: 1rem;
    letter-spacing: 2px;
}

header nav ul li a::before {
    content: "";
    position: absolute;
    height: 1px;
    width: 100%;
    bottom: 0;
    right: -100%;
    background-color: #fff;
    transition: .25s ease;
}

header nav ul li a:hover::before {
    right: 0%;
}

@media (max-width: 680px) {
    header nav.menu {
        top: 10px;
        height: 240px;
        width: 120px;
    }

    header nav ul {
        height: 90%;
    }


    header nav ul li a {
        font-size: 16px;
    }

    header button.burger {
        top: 60px;
        left: 5px;
        width: 40px;
        height: 40px;
    }

    header button.burger.off {
        left: 100px;
    }
}

/*Sekcja 1 features*/

section.features {
    display: flex;
    justify-content: space-around;
    width: 100%;
    height: 65vh;
    min-height: 400px;
    text-align: center;
    overflow: hidden;
    padding-bottom: 2%;
    border-bottom: 1px solid black;
    background-color: #dfeefc;
}

section.forMobile {
    display: none;
    text-align: center;
    padding: 3%;
    background-color: #dfeefc;
}

section.forMobile img {
    width: 70%;
}

section.features div {
    position: relative;
    height: 100%;
    width: 28%;
}

section.features div img {
    position: absolute;
    top: 25%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 45%;
    transition: .2s;
    animation: none;

}

section.features div.features2 img {
    top: 20%;
    width: 35%;
}

section.features div.features2 img:nth-of-type(2) {
    top: 33%;
    left: 20%;
}

section.features div.features2 img:nth-of-type(3) {
    top: 33%;
    left: 78%;
}

section.features div h2 {
    position: absolute;
    top: 55%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-family: var(--ffMain);
}

section.features div p {
    position: absolute;
    width: 85%;
    top: 65%;
    left: 50%;
    line-height: 1.5;
    transform: translate(-50%, 0);
    text-align: justify;
    font-size: 1.1rem;
    font-family: var(--ffSec);
}

section.features div img:hover {
    animation: changeSize .3s linear;
}

section.features div.features2 img:hover {
    z-index: 1;
    animation: changeSize2 .3s linear;
}

@keyframes changeSize {
    0% {
        width: 45%;
    }

    50% {
        width: 55%;
    }

    100% {
        width: 45%;
    }
}

@keyframes changeSize2 {
    0% {
        width: 35%;
    }

    50% {
        width: 45%;
    }

    100% {
        width: 35%;
    }
}

@media (max-width: 1024px) {
    section.features {
        flex-direction: column;
    }

    section.forMobile {
        display: block;
    }

    section.features div {
        position: relative;
        width: 100%;
    }

    section.features div img {
        display: none;
    }

    section.features div h2 {
        top: 20%;
    }

    section.features div p {
        top: 45%;
    }
}

/*sekcja 2 animation*/
section.animation {
    display: flex;
    align-items: center;
    height: 100vh;
    padding-top: 5%;
}

section.animation div.animacja {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    height: 100%;
    overflow: hidden;
}

section.animation div.animacja div.projekt,
section.animation div.animacja div.opisAnimacji {
    position: relative;
}

section.animation div.animacja div.projekt {
    width: 100%;
    height: 35vw;
}

section.video div.opisVideo,
section.animation div.animacja div.opisAnimacji {
    display: block;
    font-size: 1.8rem;
    font-family: 'Ubuntu+Mono', monospace;
}

section.animation div.animacja span.cursor {
    opacity: 0;
    font-family: sans-serif;
    transition: .2s;
}

section.animation div.animacja span.cursor.active {
    opacity: 1;
}

section.animation div.animacja div.strona {
    position: absolute;
    top: 10%;
    left: calc(50% - 23vw);
    width: 46vw;
    height: 23vw;
    background-image: url(../img/strona.png);
    background-repeat: no-repeat;
    background-size: cover;
    opacity: 0;
}

section.animation div.animacja div.strona.active {
    opacity: 1;
    animation: createSite 7s 4.5s both;
}

@keyframes createSite {
    0% {
        top: 20%;
        left: 150%;
        width: 0;
        height: 0;
        transform: rotate(0);
    }

    20% {
        top: 20%;
        left: calc(50% - 20vw);
        width: 40vw;
        height: 20vw;
        transform: rotate(1800deg);
    }

    30% {
        top: 20%;
        left: calc(50% - 20vw);
        width: 40vw;
        height: 20vw;
        transform: rotate(1800deg);
    }

    35% {
        top: 20%;
        left: calc(50% - 23vw);
        width: 46vw;
        height: 23vw;
        transform: rotate(1800deg);
    }

    65% {
        top: 20%;
        left: calc(50% - 23vw);
        width: 46vw;
        height: 23vw;
        transform: rotate(1800deg);
    }

    100% {
        top: 20%;
        left: 150%;
        width: 0;
        height: 0;
        transform: rotate(0);
    }
}

section.animation div.tv {
    display: none;
}

section.animation div.tv.active {
    display: block;
    position: relative;
    overflow: hidden;
    margin-top: 5%;
    animation: createVideo 9.5s 11s both;
}

@keyframes createVideo {
    0% {
        opacity: 0
    }

    20% {
        opacity: 1
    }

    90% {
        opacity: 1
    }

    100% {
        opacity: 0
    }
}

section.animation div.tv img {
    display: block;
    width: 60%;
    margin: 0 auto;
}

section.animation div.tv video {
    position: absolute;
    top: 45.8%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 83%;
    height: 83%;
}

/* Kontakt Header*/
section.contactHeader {
    width: 100%;
    height: 15vh;
    background-image: var(--gradient);
    background-attachment: fixed;
    border-top: var(--borderStyle);
    border-bottom: var(--borderStyle);
    overflow: hidden;
}

section.contactHeader h1.webDev {
    transform: translateX(100vw);
    color: black;
    text-align: right;
    line-height: 15vh;
    font-size: 2rem;
    font-family: var(--ffMain);
    margin-right: 10%;
    transition: 1.5s;
}

section.contactHeader h1.webDev.active {
    animation: webDevEntry 1.2s ease both;
}

@keyframes webDevEntry {
    0% {
        transform: translateX(100vw);
    }

    50% {
        transform: translateX(-20vw);
    }

    100% {
        transform: translateX(0);
    }

}

/*Kontakt*/
section.contact {
    background-color: #777;
    height: 75vh;
    min-height: 300px;
}

section.contact h1 {
    text-align: center;
    color: white;
    font-size: 1.8rem;
    font-family: var(--ffMain);
    padding: 1%;
    text-shadow: 1px -2px 2px black;
}

section.contact div.contact {
    display: flex;
}

.contact form {
    display: flex;
    flex-direction: column;
    justify-content: center;
    display: block;
    width: 50%;

}

.contact form input,
.contact form textarea,
.contact form button {
    display: block;
    height: 6vh;
    min-height: 30px;
    width: 50%;
    margin: 3% auto;
    font-family: var(--ffSec);
    font-size: 1rem;
    padding: 1%;
}

.contact form textarea {
    height: 20vh;
}

.contact form button {
    height: 7vh;
    min-height: 40px;
    background-color: rgba(0, 0, 0, 0.6);
    color: white;
    margin: 5% auto;
    border: 1px solid white;
    cursor: pointer;
}

.contact div.socialmedia {
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 50%;
}

.contact div.socialmedia a,
.contact div.socialmedia p {
    display: block;
    padding: 3% 0;
    width: 50%;
    color: black;
    text-decoration: none;
}

.contact div.socialmedia p i,
.contact div.socialmedia a i {
    font-size: 2.5rem;
    vertical-align: -20%;
    transition: .2s;
    padding-right: 5%;
}

.contact div.socialmedia a span {
    cursor: pointer;
    font-family: var(--ffSec);
}

.contact div.socialmedia p span {
    font-family: var(--ffSec);
    font-size: 1.2rem;
}

.contact div.socialmedia p:hover i,
.contact div.socialmedia a:hover i {
    color: var(--bgColor);
}


@media (max-width: 1024px) {
    section.contact {
        height: auto;
    }

    section.contact div.contact {
        flex-direction: column;

    }

    .contact div.socialmedia,
    .contact form {
        width: 100%;
    }

    .contact div.socialmedia p,
    .contact div.socialmedia a {
        margin: 0 auto;
    }
}

@media (max-width: 400px) {

    .contact div.socialmedia p,
    .contact div.socialmedia a {
        width: 65%;
    }
}

/*Footer*/
footer {
    position: relative;
    height: 10vh;
    line-height: 10vh;
    min-height: 30px;
    background-image: var(--gradient);
    background-attachment: fixed;
    font-family: var(--ffSec);
    border-top: var(--borderStyle);
}

footer p {
    display: block;
    color: #fff;
    text-align: center;
    height: 100%;
    overflow: hidden;

}

footer p span {
    color: #222;
    cursor: pointer;
    margin-right: 20px;
}

footer button.arrow {
    position: absolute;
    right: 5%;
    bottom: 200%;
    width: 50px;
    height: 50px;
    border: 1px solid black;
    border-radius: 50%;
    background-color: var(--btnBgcOff);
    transition: .2s;
    overflow: hidden;
    outline: none;
    cursor: pointer;
}

footer button.arrow:hover {
    background-color: var(--btnBgcOn);
}

footer button.arrow a {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%) rotate(180deg);
    color: white;
    font-size: 3rem;
    animation: arrow 1.2s infinite linear;
    text-shadow: 0 -20px 0 white;
}

footer button.arrow:hover a {
    animation-duration: .8s;
    color: black;
    text-shadow: 0 -20px 0 black;
}

@keyframes arrow {
    0% {
        top: 150%;
        ;
    }

    100% {
        top: -50%;
    }
}

@media (max-width: 500px) {
    footer {
        line-height: normal;
    }

    footer button.arrow {
        width: 40px;
        height: 40px;
    }

    footer button.arrow a {
        text-shadow: 0 -12px 0 white;
    }

    footer button.arrow:hover a {
        text-shadow: 0 -12px 0 black;
    }
}

/* sekcja popup */

section.popup.active {
    position: fixed;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    background-color: rgba(0, 0, 0, .6);
    z-index: 2;
}

section.popup span.hide {
    display: none;
}

section.popup.active span.hide {
    display: block;
    position: absolute;
    top: 5%;
    right: 2%;
    transform: translate(-10%, 5%);
    font-size: 40px;
    cursor: pointer;
    color: crimson;
    z-index: 1;
}

section.popup.active span.hide:hover {
    color: chartreuse;
}

section.popup div.popup {
    display: none;
}

section.popup.active div.popup {
    display: block;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 90%;
    height: 90%;
    border: 1px solid black;
    background-color: white;
    overflow: auto;
}

section.popup.active div.popup p.bold {
    font-weight: bold;
    text-align: center;
    padding: 1%;
}

section.popup.active div.popup p {
    font-size: 1rem;
    text-align: left;
    padding: .3% 1%;
}

/* STRONA O MNIE */
/* aboutMe.html */

section.aboutMe {
    width: 100%;
    height: 100vh;
    overflow: hidden;
    background-image: url(../img/niebo.jpg);
    background-repeat: no-repeat;
    background-position: center;
    background-attachment: fixed;
    position: relative;
}

section.aboutMe a,
section.game a,
div.blog section.blogHeader a {
    text-align: center;
    line-height: 50px;
    /* reszta styli w sekcji header button */
}

section.aboutMe a:hover i,
div.blog section.blogHeader a:hover i {
    color: black;
}

section.aboutMe img.Me {
    position: absolute;
    bottom: 0;
    left: 0;
    height: 100%;
    opacity: 0.8;
    animation: grow 25s linear infinite;
}

@keyframes grow {
    0% {
        transform: translateX(0) scale(1);

    }

    50% {
        transform: translateX(10%) scale(1.1);


    }

    100% {
        transform: translateX(0) scale(1);
    }
}

section.aboutMe div.aboutMe {
    position: absolute;
    right: 5%;
    left: 50%;
    top: 30%;

}

section.aboutMe div.aboutMe p {
    font-family: var(--ffSec);
    line-height: 1.3;
    font-size: 2rem;
    text-align: center;
}

@media (max-width: 1300px) and (orientation: landscape) {
    section.aboutMe div.aboutMe {
        top: 15%;
        left: 60%;
    }

    section.aboutMe img.Me {
        animation: none;
    }
}

@media (max-width: 800px) and (orientation: landscape) {

    section.aboutMe div.aboutMe p {
        font-size: 1.6rem;
    }

    section.aboutMe img.Me {
        left: 10%;
        animation: none;
    }
}

@media (max-width: 1024px) and (orientation: portrait) {
    section.aboutMe div.aboutMe {
        top: 2%;
        left: 15%;
    }

    section.aboutMe div.aboutMe p {
        font-size: 1.8rem;
    }

    section.aboutMe img.Me {
        height: 60%;
        animation: none;
    }
}

@media (max-width: 800px) and (orientation: portrait) {
    section.aboutMe img.Me {
        left: 10%;
    }
}

@media (max-width: 680px) and (orientation: portrait) {

    section.aboutMe a,
    section.game a,
    div.blog section.blogHeader a {
        top: 12px;
        left: 5px;
        width: 40px;
        height: 40px;
        line-height: 40px;
    }
}

@media (max-width: 550px) and (min-height: 400px) {
    section.aboutMe img.Me {
        height: 60%;
    }
}

/* STRONA Gra w statki */
/* graWstatki.html */

section.game {
    position: relative;
    height: 100vh;
    width: 100%;
    overflow-x: hidden;
    background-color: black;
}

section.game a:hover {
    background-color: #fff;
}

section div.h1 {
    position: absolute;
    top: 100%;
    left: 2%;
    width: 100vh;
    transform: rotate(-90deg);
    transform-origin: 0 0;
    z-index: 1;
}

section div.h1 h1 {
    background-image: var(--gradient);
    height: 10vh;
    line-height: 10vh;
    padding-left: 25vh;
    font-size: 2rem;
    min-height: 50px;
    letter-spacing: 2px;
    font-family: var(--ffMain);
}

section.game div#board {
    position: relative;
    width: 100vh;
    height: 100vh;
    margin: auto;
    background-image: url('../img/board.jpg');
    background-size: contain;
    background-position: center;
    background-repeat: no-repeat;
}

section.game div#messageArea {
    position: absolute;
    top: 2%;
    left: 50%;
    width: 35vw;
    min-width: 200px;
    height: 6vh;
    box-shadow: 0 0 5px 0 chartreuse;
    transform: translate(-50%, 0);
    background-color: rgb(137, 250, 137);
    text-align: center;
    line-height: 6vh;
    font-family: sans-serif;
    font-size: 1.1rem;
    text-transform: uppercase;
}

section.game div#board table {
    position: absolute;
    top: 17.4vh;
    left: 16.8vh;
    border-spacing: 0px;
}

section.game div#board table tr td {
    width: 9.3vh;
    height: 9.35vh;
}

.hit {
    background-image: url('../img/ship.png');
    background-repeat: no-repeat;
    background-size: contain;
    background-position: center;
}

.miss {
    background-image: url('../img/miss.png');
    background-repeat: no-repeat;
    background-size: contain;
    background-position: center;
}

/* blog.html 
Blog */
div.blog {
    width: 100%;
    min-height: 100vh;
    background-image: url(../img/niebo.jpg);
    background-size: cover;
    background-repeat: no-repeat;
}

div.blog section.blogHeader {
    width: 100%;
    background-color: var(--btnBgcOff);
}

div.blog section.blogHeader p {
    font-size: 40px;
    color: white;
    text-transform: uppercase;
    font-family: var(--ffMain);
    letter-spacing: 3px;
    text-align: center;
    text-shadow: 2px -2px 2px black;
    padding: 2%;
}

div.blog section.blogArticle {
    width: 70%;
    background-color: #fff;
    margin: 3% auto 0 auto;
    box-shadow: 0 0 2px 0 black;
}

@media (max-width: 680px) {
    div.blog section.blogArticle {
        width: 90%;
    }
}

div.blog section.blogArticle h2 {
    font-family: var(--ffSec);
    text-align: center;
    padding: 10px;
}

div.blog section.blogArticle p {
    font-family: var(--ffSec);
    padding: 20px;
    text-align: justify;
    font-size: 1.1rem;
}

div.blog section.blogArticle p a {
    text-decoration: none;
    color: black;
    cursor: pointer;
    font-weight: bold;
}

div.blog section.blogArticle img {
    padding: 20px 0 0 20px;
    float: left;
    width: 63%;
}

.clearfix::after {
    content: "";
    display: block;
    clear: both;
}

#maxWidth {
    width: 100%;
    padding: 20px 20px 5px 20px;
}