* {
    margin: 0;
    padding: 0;
    cursor: default;
}

:root {
    font-size: 16px;
}

body {
    background-image: url("wallpaper.jpg");
    background-attachment: fixed;
    background-position: center;
    background-size: cover;
    min-width: 400px;
}

@media (max-width:800px) {
    body {
        background-image: url("wallpaper800.jpg");
    }
}

@media (max-width:400px) {
    body {
        background-image: url("wallpaper400.jpg");
    }
}

header {
    height: 100vh;
    background-color: transparent;

}

main {
    min-height: 100vh;
    background-color: rgba(10, 10, 10, 0.85);
    text-align: center;
}

.point {
    height: 23vh;
    min-height: 120px;
}

.point:nth-of-type(1) {
    height: 20vh;
    min-height: 75px;
    margin-top: 2vh;
}

.point:hover {
    text-shadow: 0 0 20px deepskyblue;
}

.show-on {
    height: auto;
    transition: .6s;
    overflow: hidden;
}

.show-off {
    height: 0;
    opacity: 0;
    padding: 0 2vw;
    transition: .6s;
    overflow: hidden;
}

h1,
h2,
p {
    color: whitesmoke;
    padding-top: 5vh;
    font-size: 3rem;
    font-family: 'Orbitron', sans-serif;
    letter-spacing: 3px;
    text-shadow: 0 0 10px dodgerblue;
    text-transform: uppercase;
    outline: none;
    transition: .1s;
    cursor: pointer;
}

p {
    margin: 2vh;
    font-size: 1rem;
    padding: 0 2vw;
}

p:nth-child(1) {
    margin-top: 8vh;
}

h2:hover,
p:hover {
    text-shadow: 0 0 15px deepskyblue;
}

@media (max-width: 900px) {
    :root {
        font-size: 13px;
    }

    .point:nth-of-type(1) {
        height: 16vh;
        margin-top: 2vh;
    }
}

@media (max-width: 620px) {
    :root {
        font-size: 10px;
    }
}